<div class="header">
  <div class="clickMe"
  (click)="clickMe()">
    Click me to display the products
  </div>
  <div class="myCart"
  (click)="clickMyCart()">
    <div>
      My Cart
    </div>
  </div>
</div>

<div class="productContainer" *ngIf="products.length !== 0">
  <div class="productList" *ngFor="let product of products"
  [style.background-color]="highlightProduct(product.id)">
    <div class="productImg">
      <img src= "{{ product.image }}">
    </div>

    <div class="productDetail">
      ID: {{ product.id }} <br>
      Description: {{ product.description }} <br>
      Price: {{ product.price }}
    </div>

    <div class="selectProduct">
      <div class = "qty">
          <div
          (click)="minusQty(product.id)">
            -
          </div>
          <div>
            {{ tempQty[product.id] }}
          </div>
          <div
          (click)="addQty(product.id)">
            +
          </div>
      </div>
      
      <button *ngIf="tempQty[product.id] > 0"
          [style.display]="hideSelectButton(product.id)"
        (click)="addToTempCart(product.id)">
        Select
      </button>
    </div>
  </div>
</div>

<div class="myCartContainer hide" *ngIf="myCart.length !== 0">
    <div class="productList" *ngFor="let item of myCart">
      <div class="productImg">
        <img src= "{{ item.image }}">
      </div>
    
      <div class="productDetail">
        ID: {{ item.id }} <br>
        Description: {{ item.description }} <br>
        Price: {{ item.price }} <br>
        Qty: {{ item.qty }}
      </div>
    
      <div class="removeProduct">        
        <button
        (click)="removeFromCart(item.id)">
          Remove
        </button>
      </div>
    </div>
</div>

<div class="footer">
  <div>
    <div *ngIf="myCart.length !== 0"
    (click)="clearMyCart()">
      Clear My Cart
    </div>
  </div>
  <div>
    <div *ngIf="tempCart.length !== 0"
    (click)="addToCart()">
      Add To Cart
    </div>
    </div>
  <div>
    Total Price: {{ totalPrice }}
  </div>
</div>


